{% extends 'layout.html' %}

{% block content %}

    <div class="d-flex p-2 justify-content-center bg">
        <form method='POST' class="form-group">
            <label for="select">How many different cards would you like to play with?</label>
            <select class="form-control mb-3" id="select" name="select">
                {% for i in range(20) %}
                    <option value={{ i + 1 }}>{{ i + 1 }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="form-control btn btn-outline-primary">Play</button>
        </form>
    </div>




{% endblock %}